<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHMRweek1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C587983E2C21A29D003CE5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C58798532C21A2A0003CE5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C587985D2C21A2A0003CE5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
